<mat-toolbar class='toolbar-class'>
      <a routerLink="/" class='icon'>
            <img src='../../assets/giphylogo2.PNG' alt = "logo of the website">
      </a>

      <div class="header-link">
      <a routerLink="favorites">Favorites</a>
      <mat-icon>favorite</mat-icon>
      </div>

      <div class='header-link'>
      <a routerLink="trending">Trending</a>
      <mat-icon>trending_up</mat-icon>
      </div>

      <div class='header-link'>
      <a routerLink="search">Search</a>
      <mat-icon>search</mat-icon>
      </div>
      
      <button routerLink="login">Login</button>

</mat-toolbar>