
.header-icon {
    padding: 0 14px;
  }
  
  .header-spacer {
    flex: 1 1 auto;
  }
  img{
    height: 3em;
  }
  span{
    font-weight: bold;
  }
  .toolbar-class {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: black;
    height: fit-content;

    /* position: absolute; */
    position: sticky;
    position: -webkit-sticky; 
    top: 0; 
    z-index: 5; 

    /* position: fixed; */
    left: 0;
    z-index: 2;
    width: 100%  !important;
  }
  a{
    color: white;
    text-decoration: none;
  }
  button{
    background-color: #0056be;
    color: white;
    padding: 0.25em 0/25em;
  }
  .mat-icon{
    color:white;
    /* padding: 0.25em; */
    align-self: center;
  }
  .header-link{
    padding: 0.25em 0.25em;
    border: 1 px solid black;
  }
  .header-link:hover{
    transition: 0.3s ease-in-out;
    border: 1px solid white;
  }
  .menu{
   padding: 0px; 
  }
  .mat-menu-item{
    background-color: black;
  }
  .mat-menu-item:hover{
    color: black;
    background-color: white;
  }
 
:host /deep/ .mat-menu-content {
  padding: 0!important;
}
  
  
  
  