<div class = 'footer'>

<div class = 'social-media'>
    <a href = "https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
    <a href = "https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a>
    <a href = "https://github.com/"><i class="fab fa-github-square"></i></a>
    <a href = "https://twitter.com/"><i class="fab fa-twitter-square"></i></a>
    <a href = "https://dribbble.com/"><i class="fab fa-dribbble-square"></i></a>
</div>

<div class = 'subscribe'>
    <p>Subscribe to our weekly mails</p>
    <input type = 'text' placeholder="Enter Email">
    <button>Subscribe</button>
</div>

</div>

