.card-container{
    display: flex;
    flex-flow: column wrap;
    background-color: black;
    justify-content: flex-start;
    align-content: center;
    max-height: 450vh;
    overflow: hidden;
}
.heading{
    padding: 0.5em;
    display: inline;
}
.services {
    background: black;
    display: flex;
    flex-flow: row-wrap;
    margin-top:1em;
    justify-content: space-around;
    align-content: center;   
}

img{
    height: 30vh;
}
h5{
    padding:1em 0 0 0;
    align-content: center;
}
p{
    margin: 0.4em 0.5em;
    font-size: 1.5em;
    font-weight: bold;
}
.mat-icon{
    color: blue;
    size: 100px;
}
@media screen and (max-width:776px){
    .card-container{
        max-height: 600vh;
    }
}
@media screen and (max-width:576px){
    .card-container{
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        height: fit-content;
    }
}