<mat-card class="giph-card ">
    <mat-card-header>
      <mat-card-title>{{giphCard.title}}</mat-card-title>
      <mat-card-subtitle>{{giphCard.id}}</mat-card-subtitle>
      <div class="header-actions">
        <button (click) = 'removeFromFavorites(giphCard.id)' mat-mini-fab aria-label="Example icon-button with a heart icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <img mat-card-image src = {{giphCard.images.fixed_height_small.url}} alt="A giphy">
  </mat-card>
