<div class="favorite-component">
<div class = 'heading'>

    <p><mat-icon>favorite</mat-icon>Favorites<p>
        <div class = 'user-div'>
        <p>Hello, {{currentUser}}</p>
</div>
    <h5>GIPHY is your top source for the best & newest GIFs & Animated Stickers online. 
        Find your favorite funny GIFs, reaction GIFs, unique GIFs and more.</h5>
        <h5>Is your favorite list empty? Go to <a (click)='goToTrending()'><span style="cursor: pointer;">Trending Giphs</span></a> to add some.</h5>
    
    
<div class = 'card-container' >
    <div *ngFor = 'let giph of giphsArray'>
    <app-fav-card [giphCard] = 'giph'></app-fav-card>
</div>
</div>