.card-container{
    display: flex;
    flex-flow: row wrap;
    background-color: black;
    justify-content: space-around;
    align-content: center;
}
.heading{
    padding: 0.5em;
    display: inline;
}
.user-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
p{
    margin: 0.4em 0.5em;
    font-size: 1.5em;
    font-weight: bold;
}
.mat-icon{
    color: red;
    size: 100px;
}
button {
    background-color: black;
    color: white;
    font-weight: 400;
    padding: 0.25em;
    margin: 0 0.25em;
}