.favorite-component{
    min-height: 60vh;
}
span{
    color: turquoise;
}
h5{
    padding:1em;
}
.card-container{
    display: flex;
    flex-flow: column wrap;
    background-color: black;
    justify-content: flex-start;
    align-content: center;
    max-height: 100vh;
    overflow: hidden;
}
.heading{
    padding: 0.5em;
    display: inline;
}
.user-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
p{
    margin: 0.4em 0.5em;
    font-size: 1.5em;
    font-weight: bold;
}
.mat-icon{
    color: red;
    size: 100px;
}
button {
    background-color: black;
    color: white;
    font-weight: 400;
    padding: 0.25em;
    margin: 0 0.25em;
}
@media screen and (max-width:776px){
    .card-container{
        max-height: 500vh;
    }
}
@media screen and (max-width:576px){
    .card-container{
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        height: fit-content;
    }
}