.search-component{
    min-height: 60vh;
}
h5{
    padding:1em;
}
.card-container{
    display: flex;
    flex-flow: column wrap;
    background-color: black;
    justify-content: center;
    align-content: center;
    max-height: 500vh;
    overflow: hidden;
}
.heading{
    padding: 0.5em;
    display: inline;
}
p{
    margin: 0.4em 0.5em;
    font-size: 1.5em;
    font-weight: bold;
}

.mat-icon{
    color: green;
    size: 100px;
}
.suffix-icon {
    color: black;
    /* background: palevioletred; */
    font-size: 48px;
    height: 48px;
    width: 48px;
    line-height: 48px;
    padding: 0;
}
.mat-form-field{
    width: 95%;
    margin: 1em;
}

@media screen and (max-width:776px){
    .card-container{
        max-height: 500vh;
    }
}
@media screen and (max-width:576px){
    .card-container{
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        height: fit-content;
    }
}